body {
  font-family: 'Merriweather';
  font-size: 24px;
  margin: 0.3in; padding: 0.3in; padding-top: 0.05in;
  background: url('Images/beta5.gif') center / auto 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: right;
   right: 0.5in;
   font-size: 12px;
}

#container {
  width: 90%;
  position: relative;
  margin: 0;
  padding: -5em;
}
#container2 {
  width: 90%;
  position: relative;
  margin: 0;
  padding: -5em;
}
#animate {
  width: 90%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate2 {
  width: 90%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate3 {
  width: 90%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}
#animate4 {
  width: 90%;
  position: relative;
  opacity: 0;
  margin: 0;
  padding: -5em;
}

.topnav {
  overflow: hidden;
  background-color: #064991;
  color: white;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #f7dd68;
  color: #064991;
}


/* Dropdown Customizations */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  overflow: hidden;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.buttonactive{
  background-color: #f7dd68;
  color: #064991;
  font-size: 16px;
}
